@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply antialiased selection:bg-blue-500/30 selection:text-blue-800 leading-relaxed;
}

section {
  @apply flex flex-col items-center px-6 md:px-12;
}

h2 {
  @apply text-3xl md:text-4xl font-semibold mb-6;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  /* Usa la fuente 'serif' que definiste en tailwind.config.mjs */
  @apply font-serif;
  line-height: 1.3 !important;
}