---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---
<BaseLayout>
  <section class="hero">
    <h2>Hola, soy Sergio Izquierdo</h2>
    <p>Desarrollador web frontend especializado en Angular y Astro.</p>
  </section>

  <section class="projects">
    <h2>Mis proyectos</h2>
    <ProjectCard 
      title="Gesti칩n econ칩mica (AhorroLand)" 
      description="P치gina web para gestionar las finanzas de un usuario realizada con Angular y .NET Core" 
      link="https://ahorroland.sergioizq.es" 
    />
    <ProjectCard
      title="M치s proyectos por realizar" 
      description="" 
      link="https://github.com/sergioizq" 
    />
  </section>
</BaseLayout>
