---
import Navbar from "@/components/sections/Navbar.astro";
import "../styles/global.css";

const { meta = {} } = Astro.props;
const {
  title = "Mi Portafolio",
  description = "Desarrollador web minimalista.",
} = meta;
---

<html lang="es" class="scroll-smooth h-full dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="relative h-full">
    <header>
      <Navbar />
    </header>

    <!-- Fondo -->
    <div
      class="fixed inset-0 bg-gradient-to-br from-gray-100 via-gray-200 to-cyan-100 dark:from-gray-950 dark:via-gray-900 dark:to-cyan-900 -z-10"
    >
    </div>

    <!-- Contenido principal -->
    <main class="relative z-10 h-full">
      <slot />
    </main>
  </body>
</html>
